<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="register.component.css">
  <title>FORMULARIO DE REGISTRO </title>
</head>
<body>
  <div class="container-form register">
    <div class="information">
      <div class="info-childs">
        <h2>¡Bienvenido!</h2>
        <p>¿Ya dispone de una cuenta? Si es así inicie sesión a continuación</p>
        <input type="button" value="Iniciar Sesión" id="sign-in" routerLink="/login">
      </div>
    </div>
    <div class="form-information">
      <div class="form-information-childs">
        <h2>Crear una Cuenta</h2>
        <div class="icons">
          <i class='bx bxl-google'></i>
        </div>
        <p>o usa tu email para registrarte</p>
        <form class="form form-register" [formGroup]="registerForm" (ngSubmit)="registrarse()" novalidate>
          <div>
            <label>
              <i class='bx bx-user' ></i>
              <input type="text" placeholder="Nombre Usuario" name="userName" formControlName="userName">
            </label>
            <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)">
              <div *ngIf="userName?.errors?.['required']" class="alerta-error">El nombre de usuario es obligatorio.</div>
            </div>
          </div>
          <div>
            <label>
              <i class='bx bx-user' ></i>
              <input type="text" placeholder="firstname" name="firstname" formControlName="firstname">
            </label>
            <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
              <div *ngIf="firstname?.errors?.['required']" class="alerta-error">El nombre es obligatorio.</div>
            </div>
          </div>
          <div>
            <label>
              <i class='bx bx-user' ></i>
              <input type="text" placeholder="surname" name="surname" formControlName="surname">
            </label>
            <div *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">
              <div *ngIf="surname?.errors?.['required']" class="alerta-error">El apellido es obligatorio.</div>
            </div>
          </div>
          <div>
            <label>
              <i class='bx bx-envelope' ></i>
              <input type="text" placeholder="DNI" name="dni" formControlName="dni">
            </label>
            <div *ngIf="dni?.invalid && (dni?.dirty || dni?.touched)">
              <div *ngIf="dni?.errors?.['required']" class="alerta-error">El DNI es obligatorio.</div>
            </div>
          </div>
          <div>
            <label >
              <i class='bx bx-envelope' ></i>
              <input type="email" placeholder="Correo Electronico" name="userEmail" formControlName="userEmail">
            </label>
            <div *ngIf="userEmail?.invalid && (userEmail?.dirty || userEmail?.touched)">
              <div *ngIf="userEmail?.errors?.['required']" class="alerta-error">El correo electrónico es obligatorio.</div>
              <div *ngIf="userEmail?.errors?.['email']" class="alerta-error">El correo electrónico no es válido.</div>
            </div>
          </div>
          <div>
            <label>
              <i class='bx bx-lock-alt' ></i>
              <input type="password" placeholder="Contraseña" name="password" formControlName="password">
            </label>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              <div *ngIf="password?.errors?.['required']" class="alerta-error">La contraseña es obligatoria.</div>
            </div>
          </div>
          <div>
            <label>
              <i class='bx bx-lock-alt' ></i>
              <input type="password" placeholder="RepetirContraseña" name="password2" formControlName="password2">
            </label>
            <div *ngIf="password2?.invalid && (password2?.dirty || password2?.touched)">
              <div *ngIf="password2?.errors?.['required']" class="alerta-error">Debes repetir la contraseña.</div>
            </div>
            <div *ngIf="registerForm.errors?.['notSame'] && (password2?.dirty || password2?.touched)">
              <div class="alerta-error">Las contraseñas no coinciden.</div>
            </div>
          </div>

          <input type="submit" value="Registrarse">
          <div class="alerta-error" *ngIf="registerForm.invalid && registerForm.touched">Por favor, completa todos los campos correctamente.</div>
          <div class="alerta-exito">Te registraste correctamente</div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>